body {
    text-align: center;
    margin:0px;
    background: #333333;
    background-attachment: fixed;
}

h3 {
    margin: 0px;
}

a {
    color: #b54245;
    font-weight: bold;
    text-decoration: none;
}


/* Wrapper includes header, content, and footer */
.wrapper {
    background: #ffffff;
    /*border-radius: 20px;
    margin: 10px auto;
    max-width: 1000px;
    padding: 20px;
    width: 70%;*/
}


/*
 ===========
 Navigation
 ===========
*/
.header, .navigation {
    background: #ffffff;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;

    border-bottom: 1px solid lightgray;
}

.logo {
    max-width: 50%;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation a {
  display:block;
  padding:0 10px;
  font-size:20px;
  line-height: 60px;
  text-decoration:none;
}

/*
 =======
 Content
 =======
*/

.content {
    max-width: 1200px;
    margin: auto;
    width: 80%;
}

.recipe {
    padding: 30px;
    text-align: left;
}

.inline-image {
    padding: 10px;
}

.image-row {
    display: flex;
    gap: 40px;
    justify-content: center;
}

/*
 ======
 Footer
 ======
*/

.footer {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    border-top: 1px solid lightgray;
    color: #b54245;
    font-weight: bold;

    /*
    background: #333333;
    color: #ffffff;
    font-size: 12pt;
    */
}

.footer-element {
    padding: 15px;
}

@media (max-width: 800px) {
    .header {
        flex-direction: row;
}
    .navigation {
        flex-direction: column;
    }
    .navigation a {
	line-height: 30px;
    }
}
