body {
    text-align: center;
    margin:0px;
    background: #333333;
    background-attachment: fixed;
}

h3 {
    margin: 0px;
}

a {
    color: #b54245;
    font-weight: bold;
    text-decoration: none;
}


/* Wrapper includes header, content, and footer */
.wrapper {
    background: #ffffff;
    /*border-radius: 20px;
    margin: 10px auto;
    max-width: 1000px;
    padding: 20px;
    width: 70%;*/
}


/*
 ========================
 Navigation with dropdown
 ========================
*/
.header, .navigation, .navigation ul ul {
    background: #ffffff;
}

.navigation {
    border-bottom: 1px solid lightgray;
}

.navigation ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    position: relative;
    text-align: center;
}

.navigation ul li {
    display:inline-block;
    text-align: left;
}

.navigation a {
  display:block;
  padding:0 10px;
  font-size:20px;
  line-height: 60px;
  text-decoration:none;
}

/* Hide Dropdowns by Default */
.navigation ul ul {
  display: none;
  border: 1px solid grey;
  padding: 0px;
  position: absolute;
  top: 60px;
}

/* Display Dropdowns on Hover */
.navigation ul li:hover > ul {
  display:inherit;
}

/* First Tier Dropdown */
.navigation ul ul li {
  width:200px;
  float:none;
  display:list-item;
  position: relative;
  text-align: left;
}

/*
 =======
 Content
 =======
*/

.content {
    max-width: 1000px;
    margin: auto;
    width: 80%;
}

.recipe {
    padding: 30px;
    text-align: left;
}

.inline-image {
    padding: 10px;
}

.image-row {
    display: flex;
    gap: 40px;
    justify-content: center;
}

/*
 ======
 Footer
 ======
*/

.footer {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    background: #333333;
    color: #ffffff;
    font-size: 12pt;
}

.footer-element {
    padding: 15px 15px 0px 15px;
}