body {
    margin: 0px;
    text-align: left;
}

h2, h3 {
    margin: 0px 0px 15px 0px;
}

a {
    color: #b54245;
    font-weight: bold;
    text-decoration: none;
}

p {
    margin: 0px 0px 15px 0px;
}

iframe {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
}

/*
 ==================
 Background Colors
 ==================
*/

/* Wrapper includes header, content, and footer */
.wrapper {
    background: #ffffff;
}

body, .header, .navigation, .footer, .content {
    background: #ffffff;
}

/*
 =======
 Header
 =======
*/

.header {
    border-bottom: 1px solid lightgray;
    text-align: center;
}

.logo {
    margin: auto;
    max-width: 50%;
    padding-top: 10px;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    padding: 10px 0px;
}

.navigation a {
  display:block;
  padding:0 10px;
  font-size:20px;
}

/*
 =======
 Content
 =======
*/

.content-left, .content-center {
    margin: auto;
    max-width: 1000px;
    padding: 15px;
    width: 70%;
}

.content-center {
    text-align: center;
}

.row-image {
    width: 30%;
}

.right-image {
    float: right;
    padding: 15px;
    width: 40%;
}

.image-row {
    display: flex;
    gap: 10px;

    justify-content: center;
    margin: 10px;
    width: 100%;
}

.iframe-wrapper {
    position: relative;
    margin: 10px auto;
    width: 80%;
    padding-top: 45%;
}

/*
 ======
 Footer
 ======
*/

.footer {
    display: flex;
    align-items: center;
    justify-content: center;

    border-top: 1px solid lightgray;
    clear: both;
    color: #b54245;
    font-weight: bold;
    text-align: center;
}

.footer-element {
    padding: 15px;
}

@media (max-width: 800px) {
    .content {
        width: 100%;
    }

    .navigation a {
	line-height: 35px;
    }
}
