body {
    background: #ffcbb3;
    margin: 0px;
    text-align: center;
}

h3 {
    margin: 0px;
}

a {
    color: #b54245;
    font-weight: bold;
    text-decoration: none;
}

/* Wrapper includes header, content, and footer */
.wrapper {
    background: #ffffff;
}

/*
 =======
 Header
 =======
*/
.header, .navigation {
    background: #ffcbb3;
}

.header {
    border-bottom: 1px solid lightgray;
}

.logo {
    margin: auto;
    max-width: 50%;
    padding-top: 10px;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    padding: 10px 0px;
}

.navigation a {
  display:block;
  padding:0 10px;
  font-size:20px;
}

/*
 =======
 Content
 =======
*/

.content {
    margin: auto;
    width: 80%;
}

.recipe {
    padding: 30px;
    text-align: left;
}

.inline-image {
    padding: 10px;
}

.image-row {
    display: flex;
    gap: 40px;
    justify-content: center;
}

/*
 ======
 Footer
 ======
*/

.footer {
    display: flex;
    align-items: center;
    justify-content: center;

    background: #ffcbb3;
    border-top: 1px solid lightgray;
    color: #b54245;
    font-weight: bold;
}

.footer-element {
    padding: 15px;
}

@media (max-width: 800px) {
    .navigation a {
	line-height: 35px;
    }
}
