<div class="footer">
    <div class="footer-element">
        <h3>Contact Us</h3>
        106 South Rd<br>
        Westhampton, MA 01027<br>
        413-527-5440<br>
        <a href="https://www.instagram.com/intervalefamilyfarm/"><img src="img/instagram-logo.png" height="32px" style="padding-top: 5px;"></a>
    </div>
    <div class="footer-element">
        <h3>Hours</h3>
        Monday - Friday 9 A.M. to 6 P.M.<br>
        Saturday 9 A.M. to 5 P.M.<br>
        Closed Sundays starting June 15, 2025
    </div>
</div>