<div class="header">
    <a href="index"><img src="img/logo.png"></a>
</div>
<div class="navigation">
    <p>
        <span class="spacer"></span>
        <a href="index">Home</a>
        <span class="spacer"></span>
        <a href="about">About Us</a>
        <span class="spacer"></span>
        <a href="csa">CSA</a>
        <span class="spacer"></span>
        <a href="market">Farmers Market</a>
        <span class="spacer"></span>
        <a href="flowers">Specialty Flowers</a>
        <span class="spacer"></span>
        <a href="recipes">Recipes</a>
    </p>
</div>
