<div class="header">
    <a href="index"><img src="img/logo.png" style="max-width: 50%;"></a>
</div>
<div class="navigation">
    <ul>
        <li><a href="index">Home</a></li>
        <li>
            <a href="#">About Us</a>
            <ul>
                <li><a href="history">History</a></li>
                <li><a href="products">What We Grow</a></li>
            </ul>
        </li>
        <li><a href="csa">CSA</a></li>
        <li><a href="market">Farmers Markets</a></li>
        <li><a href="flowers">Specialty Flowers</a></li>
    </ul>
</div>
